In [1]:
# Create and Clone a git repository
# Overview of the project
# Review the Geographic Coordinate System

In [2]:
# Insure your API keys remain secure by adding config.py to the gitignore file in your repository

In [3]:
# Import dependencies
import pandas as pd
import numpy as np
import random
import timeit
import matplotlib.pyplot as plt

# add citipy library
from citipy import citipy

# add requests module
import requests

# Import the API key from config.py file
from config import weather_api_key

# import datetime to recast api date a datetime format
import time
from datetime import datetime

In [4]:
# Generate Random Latitude and Longitude
# Create a set of lat and long combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=10)
lngs = np.random.uniform(low=-180.000, high=180.000, size=10)

# the zip method combines the lats and lngs inot a list of pairs
lat_lngs = zip(lats, lngs)
lat_lngs

# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [5]:
# Use citipy to determine our lat and lngs

# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

# cities

10

In [6]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
# print(url)

In [7]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
    # check to see if the requests.get worked
#     print(requests.get(city_url).json())

# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | tiksi
Processing Record 2 of Set 1 | cabo san lucas
Processing Record 3 of Set 1 | ayagoz
Processing Record 4 of Set 1 | ushuaia
Processing Record 5 of Set 1 | colares
Processing Record 6 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 7 of Set 1 | rawson
Processing Record 8 of Set 1 | butaritari
Processing Record 9 of Set 1 | port alfred
Processing Record 10 of Set 1 | saskylakh
-----------------------------
Data Retrieval Complete
-----------------------------

In [8]:
city_data

[{'City': 'Tiksi',
  'Lat': 71.6872,
  'Lng': 128.8694,
  'Max Temp': 16.92,
  'Humidity': 84,
  'Cloudiness': 72,
  'Wind Speed': 7.34,
  'Country': 'RU',
  'Date': '2022-04-29 01:13:52'},
 {'City': 'Cabo San Lucas',
  'Lat': 22.8909,
  'Lng': -109.9124,
  'Max Temp': 81.7,
  'Humidity': 56,
  'Cloudiness': 0,
  'Wind Speed': 9.22,
  'Country': 'MX',
  'Date': '2022-04-29 01:10:59'},
 {'City': 'Ayagoz',
  'Lat': 47.9714,
  'Lng': 80.4392,
  'Max Temp': 50.32,
  'Humidity': 42,
  'Cloudiness': 0,
  'Wind Speed': 7,
  'Country': 'KZ',
  'Date': '2022-04-29 01:13:53'},
 {'City': 'Ushuaia',
  'Lat': -54.8,
  'Lng': -68.3,
  'Max Temp': 40.66,
  'Humidity': 81,
  'Cloudiness': 40,
  'Wind Speed': 21.85,
  'Country': 'AR',
  'Date': '2022-04-29 01:11:10'},
 {'City': 'Colares',
  'Lat': 38.7992,
  'Lng': -9.4469,
  'Max Temp': 61.75,
  'Humidity': 69,
  'Cloudiness': 1,
  'Wind Speed': 28.99,
  'Country': 'PT',
  'Date': '2022-04-29 01:13:53'},
 {'City': 'Rawson',
  'Lat': -43.3002,
  'Lng': -65.1023,
  'Max Temp': 46.29,
  'Humidity': 36,
  'Cloudiness': 1,
  'Wind Speed': 9.08,
  'Country': 'AR',
  'Date': '2022-04-29 01:13:52'},
 {'City': 'Butaritari',
  'Lat': 3.0707,
  'Lng': 172.7902,
  'Max Temp': 82.09,
  'Humidity': 77,
  'Cloudiness': 100,
  'Wind Speed': 16.15,
  'Country': 'KI',
  'Date': '2022-04-29 01:13:54'},
 {'City': 'Port Alfred',
  'Lat': -33.5906,
  'Lng': 26.891,
  'Max Temp': 66.34,
  'Humidity': 53,
  'Cloudiness': 4,
  'Wind Speed': 8.43,
  'Country': 'ZA',
  'Date': '2022-04-29 01:10:37'},
 {'City': 'Saskylakh',
  'Lat': 71.9167,
  'Lng': 114.0833,
  'Max Temp': 21.07,
  'Humidity': 84,
  'Cloudiness': 100,
  'Wind Speed': 9.48,
  'Country': 'RU',
  'Date': '2022-04-29 01:13:55'}]

In [9]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Tiksi,71.6872,128.8694,16.92,84,72,7.34,RU,2022-04-29 01:13:52
1,Cabo San Lucas,22.8909,-109.9124,81.70,56,0,9.22,MX,2022-04-29 01:10:59
2,Ayagoz,47.9714,80.4392,50.32,42,0,7.00,KZ,2022-04-29 01:13:53
3,Ushuaia,-54.8000,-68.3000,40.66,81,40,21.85,AR,2022-04-29 01:11:10
4,Colares,38.7992,-9.4469,61.75,69,1,28.99,PT,2022-04-29 01:13:53
5,Rawson,-43.3002,-65.1023,46.29,36,1,9.08,AR,2022-04-29 01:13:52
6,Butaritari,3.0707,172.7902,82.09,77,100,16.15,KI,2022-04-29 01:13:54
7,Port Alfred,-33.5906,26.8910,66.34,53,4,8.43,ZA,2022-04-29 01:10:37
8,Saskylakh,71.9167,114.0833,21.07,84,100,9.48,RU,2022-04-29 01:13:55

In [10]:
#  reorder the DataFrame
new_column_order = ['City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness', 'Cloudiness', 'Wind Speed']
city_data_df = city_data_df[new_column_order]

# view city_data_df
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Cloudiness,Wind Speed
0,Tiksi,RU,2022-04-29 01:13:52,71.6872,128.8694,16.92,84,72,72,7.34
1,Cabo San Lucas,MX,2022-04-29 01:10:59,22.8909,-109.9124,81.70,56,0,0,9.22
2,Ayagoz,KZ,2022-04-29 01:13:53,47.9714,80.4392,50.32,42,0,0,7.00
3,Ushuaia,AR,2022-04-29 01:11:10,-54.8000,-68.3000,40.66,81,40,40,21.85
4,Colares,PT,2022-04-29 01:13:53,38.7992,-9.4469,61.75,69,1,1,28.99
5,Rawson,AR,2022-04-29 01:13:52,-43.3002,-65.1023,46.29,36,1,1,9.08
6,Butaritari,KI,2022-04-29 01:13:54,3.0707,172.7902,82.09,77,100,100,16.15
7,Port Alfred,ZA,2022-04-29 01:10:37,-33.5906,26.8910,66.34,53,4,4,8.43
8,Saskylakh,RU,2022-04-29 01:13:55,71.9167,114.0833,21.07,84,100,100,9.48

In [11]:
# Create the output file (CSV).
output_data_file = "./Weather_data/cities.csv"

# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")